body {
    margin: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
  }
  input {
    border: none;
    border-radius: 5px;
    height: 20px;
    margin-top: 65%;
    
  }
  img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #wanted {
    display: flex;
    margin-top: 100px;
  }